.basic-layout {
  min-height: 100vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/ecomerce-59757.appspot.com/o/bg-web.jpg?alt=media&token=dfcaa2dd-dfec-4db3-96ca-16335a9381f1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .content {
    background-color: $background-grey-light;
    height: calc(100vh - 130px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    overflow-y: scroll;

    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }
}
